In [ ]:
# !...common function for list

In [ ]:
l1= [6,7,8,9,0]
print(len(l1))

5

In [ ]:
print(max(l1))
print(min(l1))

In [ ]:
l1 = [6,8,9,"p", "u"]
print(max(l1)) # ---> error coz its a combination of int and string
print(min(l1)) #---> error coz its a combination oh int  and string

In [ ]:
l1 = [6,7,8,9,0,8.89,-5,0.78]
print

In [ ]:
#! ... some function  which is specifically used for list
# TO add element inside list
# ? insert (index_valu , element)--> to add element at specifi index positionM

In [ ]:
l1= [6,6,6,7,8,9,0,8.89,-5,0.78]
l1.insert(2, " cars")
print(l1)

[6, 6, ' cars', 6, 7, 8, 9, 0, 8.89, -5, 0.78]

In [ ]:
#? To delet element form thr list
#..pop()...> last element will be deleted

In [ ]:
l1= [6,6,6,7,8,9,0,8.89,-5,0.78]
l1.pop()
print(l1)

[6, 6, 6, 7, 8, 9, 0, 8.89, -5]

In [ ]:
# pop(index_valu)--> used to delet element t specifi index

In [ ]:
l1.pop(4)
print(l1)

[6, 6, 6, 7, 9, 0, 8.89, -5]

In [ ]:
#* remove(element)--> used to delet element directly

In [ ]:
l1.remove(8.89)
print(l1)

[6, 6, 6, 7, 9, 0, -5]

In [ ]:
 # clear()--> to complete delet the element in list

In [ ]:
l1.clear()
print(l1)

[]

In [ ]:
#* delet--> tol delet the list

In [ ]:
del l1
print(l1)

In [ ]:
# ?---> join 2 list

In [ ]:
l1=[9,0,8]
l2=["p","o","t", 34]
print(l1+l2)

[9, 0, 8, 'p', 'o', 't', 34]

In [ ]:
# externd()-->to combine 2 list

In [ ]:
 l1 extend(12)
  print(l1 )

SyntaxError: invalid syntax (<ipython-input-18-9ab8613f7be2>, line 1)

In [ ]:
#?---> copy()

In [ ]:
l1= [6,7,8,9,3]
l2=l1.copy
print(12)
print(11)

12
11

In [ ]:
print(id(l1))
print(id(l2))

138529137069632
138528064647424

In [ ]:
#! diff beteween the shallow copy ans deep copy
# shallow copy
import copy

In [ ]:
import copy
l1 = [8,9,0,[5,6],[3,2,1]]
l2 =  copy. copy(11)
l1.append
print(l1)

[8, 9, 0, [5, 6], [3, 2, 1]]

In [ ]:
# * deep copy---> used to copy the list with nested list

In [ ]:
import copy
l1=[8,9,0,[5,6],[3,2,1]]
print(l1[-1][1])

2

In [ ]:
import copy
l1=[8,9,0,[5,6],[3,2,1]]
print(l1[-1][1])
l2= copy.copy(11)
l1[-1].append('cars')
print(l1)
print(l2)

2
[8, 9, 0, [5, 6], [3, 2, 1, 'cars']]
11

In [ ]:
import copy
l1=[8,9,0,[5,6],[3,2,1]]
print(l1[-1][1])
l2= copy.deepcopy(11)
l1[-1].append('cars')
print(l1)
print(l2)

2
[8, 9, 0, [5, 6], [3, 2, 1, 'cars']]
11

In [ ]:
#> sort--> arrange elements in list in ascending or deascending  order

In [ ]:
l1= [9,7,45,0,-6,5,12]
l1.sort()
print(l1)

[-6, 0, 5, 7, 9, 12, 45]

In [ ]:
l1= [9,7,45,0,-6,5,12]
l1.sort(reverse= True)
print(l1)

[45, 12, 9, 7, 5, 0, -6]

In [ ]:
# l1.sort(reverse= True) # to sort in descending order

In [ ]:
l1= ['z','i','o','p' ,9]
l1.sort()
print(l1)

In [ ]:
#? list constructor

In [ ]:
 list()
 l3=((8,9,0))
 print(list(l3))

[8, 9, 0]

In [ ]:
l4=(8,9)
print(list(l4))

[8, 9]

In [ ]:
# !----> nested list

In [ ]:
l1=[8,9,[0,8,7],["p","o","y"], [8,'t']]
print(l1[-2][1])

o

In [ ]:
print(l1[1:4])

[9, [0, 8, 7], ['p', 'o', 'y']]

In [ ]:
print(l1[1:-1])

[9, [0, 8, 7], ['p', 'o', 'y']]

In [ ]:
l1=[8,9,[0,8,7],["p","o","y"], [8,'t']]
l1[-1].remove('t')
print(l1)

[8, 9, [0, 8, 7], ['p', 'o', 'y'], [8]]

In [ ]:
# ? combine these ["p","o","y"],[8,'t'] lists in l1 to["p","o","y",8,'t']

In [ ]:
l1[-2].extend(l1[-1])
l1.pop(-1)
print(l1)

[8, 9, [0, 8, 7], ['p', 'o', 'y', 8]]

In [ ]:
# !-----> tuple
 #* char of tuple

In [ ]:
#1.) Tuple have to be surrounded by()
#2.) The element inside tuple are not changlable
#3.) the element inside tuple are indexed
#4.) The element will execute in order
#5.) It is heterogenous
#6.) IT allows duplicate elements

In [ ]:
t1= (8,8,9,6,5.78,[9,0],[6,8],"hey",9+6j)
print(t1)
print(type(t1))

(8, 8, 9, 6, 5.78, [9, 0], [6, 8], 'hey', (9+6j))
<class 'tuple'>

In [ ]:
# indexing , slicing are all same as list

In [ ]:
t2= 8,
print(type(t2))

<class 'tuple'>

In [ ]:
t1=8,9
print(type(t1))

<class 'tuple'>

In [ ]:
l1=(8,)
print(type(l1))

<class 'tuple'>

In [ ]:
# len(), min(), max(),index(), count(),==> all same as list
# to add element inside tuple---> cannot add
# cannot delet any element from tuple

In [ ]:
t1=(8,9,0)
t2=(6,7,8)
print(t1+t2)

(8, 9, 0, 6, 7, 8)

In [ ]:
# to add all elements inside list
# sum()

In [ ]:
l1=(8,9,7,6)
print(suml1)

In [ ]:
t1= (8,9,0,89,12)
print(tuple(sorted(t1)))

(0, 8, 9, 12, 89)

In [ ]:
# * Iterate list and tuples

In [ ]:
# * Iterte based on elements

In [ ]:
l1= (9,8,0,6,5)
for i in l1:
  print(i)

9
8
0
6
5

In [ ]:
# Iterate based on indexig valu

In [ ]:
l1=[9,8,0,6,5]
for i in range (0,5):
    print(i)

0
1
2
3
4

In [ ]:
l1=[9,8,0,6,5]
for i in range (0,5):
    print(i)

0
1
2
3
4

In [ ]:
#...!--->String

In [ ]:
s1 = "u"
print(type(s1))

<class 'str'>

In [ ]:
s1 = "helloworld"
print(s1)

helloworld

In [ ]:
s1 = "helloworld"
print(s1[0:5])

hello

In [ ]:
#-----. some common function
# len(), min(), mx(), index(), count()

In [ ]:
s1 = "helloworld"
print(len(s1))
print(max(s1))
print(min(s1))

10
w
d

In [ ]:
s1= 'u'
print(ord(s1))

117

In [ ]:
# functions of straing
s1= " Hello world"

In [ ]:
# ? to convert all characters to upper case
print(s1.upper())

In [ ]:
s1= " HFREDGious"
print(s1. lower())

 hfredgious

In [ ]:
# strip---. to element the space in beninning and end of string

In [ ]:
s1 = " Where are you"
print(s1.lstrip())

Where are you

In [ ]:
s1= " hey there dont sleep"
print(s1)

 hey there dont sleep

In [ ]:
s1 =" where are you?"
print(s1.split(" r "))

[' where are you?']

In [ ]:
s1 = " hey there dont sleep"
print(s1.split(" e"))

[' hey there dont sleep']

In [ ]:
# split line function()----> uses=d to split the string based on line
# print(s1. splitlines())

In [ ]:
s1= " hello world "
print(s1.find('z'))
print(s1.index('z'))

In [ ]:
# print the strting in revese manner

In [ ]:
s1= " welcome to all "
print(s1[::-1])

 lla ot emoclew

In [ ]:
s1=" Hey there you are"
count=0
for i in s1:
      if i in lower():
          count==1
      print(" The total number of lower case lette:",count)

In [ ]:
s1= 'restarter'
s1= ' imgine'
fst=s1[0]
BAL= s1[1:]
txt = bal.replace (fst, "$")
print(fst+txt)

In [ ]:
s1=Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electro nic typesetting,  remaining  essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
characters=len(s1)
print(characters )

In [50]:
s1 = "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electro nic typesetting,  remaining  essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum".
sentensens = s1.split('.')
for val in senstenses:
   if val == '':
    index = sentensens. index('')
    senstenses.pop(index)
ptint(len(sentensens))

SyntaxError: invalid syntax (<ipython-input-50-f305cfbf5b2a>, line 1)

In [51]:
space = 0
for val in s1:
  if val ==" ":
     space = space+1
print(space)

1